@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* , *::after , *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
*{
    font-size: initial;
}
:root{
    --primary-100 : hsl(199, 35%, 19%);
    --primary-200 : hsl(200, 32%, 15%);
    --primary-300:hsl(201, 33%, 10%);
    --secondary-100:hsl(178, 75%, 65%);
    --secondary-200:hsl(178, 60%, 48%);
    --secondary-300:hsl(178, 59%, 28%);
    --accent-100: hsl(39, 100%, 69%); 
    --accent-200: hsl(39, 88%, 58%); 
    --accent-300:hsl(39, 88%, 38%);
    --neutral-100:white;
    --neutral-200:hsl(198, 23%, 72%);
    --neutral-300:hsl(198, 15%, 45%);
    
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    display: block;
}
ul {
    list-style: none;
}
button {
    cursor: pointer;
    outline: none;
    border: none;
}
img {
    display: block;
    width: 100%;
}
video, canvas, svg {
    display: block;
    max-width: 100%;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
body {
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--primary-200);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    font-family: 'Ubuntu', sans-serif;
}
#root{
    width: 100%;
}
